{% if works %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-sm-2 row-cols-md-3">
  {% for work in works|dictsortreversed:'made' %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="/works/{{ work.slug }}/{{ language }}/" class="btn btn-light">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>{{ content.title }}</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ content.title }}</text>
            <image xlink:href="{{ work.image_content|first }}" width="100%" height="100%"/>
          </svg>
        </a>
          <div class="card-body">
            {% with content=work.content_unit|first %}
            <b>{{ content.title }}</b>
            <br>
            {{ content.text|truncatechars:SHORT_CARD_TEXT_LENGTH }}
            <br>
            <small class="text-muted">Made: {{ work.made|date:"E Y" }}</small>
            {% endwith %}
            <div class="d-flex justify-content-end align-items-center">
              <div class="btn-group">
                <a href="/works/{{ work.slug }}/{{ language }}/" class="btn btn-sm btn-outline-secondary">More ...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endfor %}
    </div>
  </div>
</div>
{% endif %}
