{% extends 'base.html' %}
{% block title %}Thanks!{% endblock %}
{% block content %}

    <h1 class="text-center"><strong>Thanks!</strong></h1>
    <p class="text-center">
      Your comment has been successfully received. I'll check and post it asap!
    </p>
    <p class="text-center">
      Спасибо! Ваш комментарий успешно получен. Я проверю и опубликую его как можно скорее!
    </p>

{% endblock %}
{% block works_list %}
<div class="container col-md-6 py-5 text-center">
  <p>You can back to the previous page,
    <br>Вы можете вернуться к прежней странице,
  </p>
  <p><a href="{% url 'works:work_detail' slug language %}" class="btn btn-secondary">Previous page</a></p>
  <p>or back to the catalog.
    <br>или вернуться в каталог.
  </p>
  <p><a href="{% url 'works:works_list' language %}" class="btn btn-secondary">Catalog</a></p>
</div>
{% endblock %}
