{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}

<h1>Привет!</h1>
<p>
    Меня зовут Сергей. Я увлечен столярным ремеслом более 10 лет.
    Начинал как хобби, а потом имел опыт работы по этому ремеслу.
    На этом сайте я выложил некоторые проекты, к которым приложил свои руки.
</p>
<p>
    В своей работе я использую ручной и электро- инструмент, промышленное оборудование, а также станок с ЧПУ.
    Проектирую изделия используя Autodesk Fusion.
</p>
<p>
    Ниже некоторые мои работы. Смотрите и комментируйте.
</p>
{% endblock %}