{% extends 'base.html' %}
{% block title %}Main page{% endblock %}
{% block content %}
  <h1>Hello!</h1>
  <p class="lead text-muted text-justify">
    My name is Sergei. I've been passionate about woodworking for over 10 years.
    I started as a hobby, and then had experience working in this craft.
    On this site I've posted some projects that I've put my hands on.
  </p>
  <p class="text-justify">
    In my work, I use hand, power and pneumatic tools, industrial equipment, as well as a CNC machine.
    I design products using Autodesk Fusion.
  </p>
  <p class="text-justify">
    Below are some of my works.
  </p>
  <p class="text-justify">Six random works are offered.
    To change it, refresh the page or <a href="{% url 'works:works_list' language %}">go to the catalog</a>.
    Watch and comment.
  </p>
{% endblock %}
{% block works_list %}
{% include 'includes/'|add:language|add:'/works.html' %}
<div class="container col-md-6 py-5 text-center">
  <a href="{% url 'works:works_list' language %}" class="btn btn-secondary">View the entire catalog</a>
</div>
{% endblock %}
