{% extends 'base.html' %}
{% block title %}Main page{% endblock %}
{% block content %}
<h1>Hello!</h1>
<p>
  My name is Sergei. I've been passionate about woodworking for over 10 years.
  I started as a hobby, and then had experience working in this craft.
  On this site I've posted some projects that I've put my hands on.
</p>
<p>
  In my work, I use hand and power tools, industrial equipment, as well as a CNC machine.
  I design products using Autodesk Fusion.
</p>
<p>
  Below are some of my works. Watch and comment.
</p>
<p>
  <a href="">Click here</a> to view all list of my works.
</p>
{% endblock %}
{% block works_list %}
{% include 'includes/short_works.html' %}
{% endblock %}